<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}

    <h1>Upload new File</h1>

    <form method=post enctype=multipart/form-data>
        <p>
            <input type=file name=file>
            <input type=submit value=Upload>

            <select name=lng>
                {% for lng in lngs %}
                <option value="{{lng}}" {% if lng == eng %} selected="selected" {% endif %}>
                {{lng}}
                    </option>"
                {% endfor %}
            </select>
    </form>


    <h1>Result:</h1>
    {% if img_src %}
    <img src="{{ img_src }}">
    {% endif %}


    <input type="range" min="1" max="100" value="50" class="slider" id="slider">
    <p id="extracted_text"></p>

</body>
   <script>
        {% if img_src %}
        const threshold = {{ threshold }};
        {% else %}
        const threshold = 0;
        {% endif %}

        const data = [ {{ extracted_text |safe }} ];
        var slider = document.getElementById('slider');
        var text_element = document.getElementById('extracted_text');

        slider.onchange = function() {
            var slider_value = slider.value;

            if (data.length == 0) {
                text_element.innerHTML = 'The extracted text will be displayed here.';
                slider.style = 'display: none;'
            } else {
                text_element.innerHTML = 'The extracted text is: <br>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i][1] >= threshold * ( 1 - (slider_value / 100)))
                        text_element.innerHTML += data[i][0] + '<br>';
                }
            }
        }

        slider.onchange();
    </script>
</html>